.todo {
    width: 400px;
    margin: 5% auto;

    .todo-header {
        display: block;
        border-radius: 5px;
        margin-bottom: 10px;
        background-color: transparentize(#FFF, .5);
        form {
            display: grid;
            column-gap: 5px;
            grid-template-columns: 400px 100px;
            input {
                border: none;
                margin: 10px;
                padding: 10px 15px;
                border-radius: 5px;
                box-sizing: border-box;
                &:focus {
                    outline-color: green;
                }
            }
            button {
                border: none;
                color: #FFF;
                cursor: pointer;
                border-radius: 5px; 
                background-color: darken(lime, 14%);
                &:hover {
                    background-color: darken(lime, 11%);                    
                }  
                &:focus {
                    outline: none;
                }       
            }
        }
    }

    .todo-items { 
        .todo-item {
            border-radius: 5px;
            margin-bottom: 5px;
            background-color: transparentize(#FFF, .2);  
            .info {
                padding: 10px;
                position: relative;
                .delete {
                    top: 0px;
                    right: 0px;
                    cursor: pointer;
                    border-radius: 40%;
                    padding: 10px 15px;
                    position: absolute;
                    color: transparentize(red, .7);
                    background-color: transparentize(#FFF, .8); 
                    &:hover {
                        color: red;
                        font-weight: bold;
                        transition: color 1.3s;
                        background-color: transparentize(#FFF, .8);                         
                    }
                }
            }
            .todo-update-item {
                display: none;
                .input {
                    padding: 5px;
                    input {
                        width: 100%;
                        border: none;
                        padding: 10px 15px;
                        border-radius: 5px;
                        box-sizing: border-box;
                        &:focus {
                            outline-color: green;
                        }
                    }
                }
                .actions {
                    padding: 10px 5px;
                    background-color: transparentize(#FFF, .1);                     
                    button {
                        border: none;
                        color: #FFF;
                        cursor: pointer;
                        margin: 0 2.5px;
                        border-radius: 5px; 
                        padding: 8px 15px; 
                        &:focus {
                            outline: none;
                        }       
                    }
                    .save {
                        background-color: darken(lime, 14%);
                        &:hover {
                            background-color: darken(lime, 11%);                    
                        } 
                    } 
                    .cancel {
                        background-color: lighten(blue, 20%);
                        &:hover {
                            background-color: lighten(blue, 15%);                    
                        } 
                    }                 
                }
            }
        }     
    }

}